// Place all the styles related to the Intros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.person1{
	font-family:'FontAwesome';
	padding:20px;
	float:left;
}

.person1-title{
	font-family:'FontAwesome';
	padding-left:20px;
}

.person2{
	font-family:'FontAwesome';
	padding:20px;
	float:left;
	
}

.person2-title{
	font-family:'FontAwesome';
	padding-left:20px;
}

.selectpicker{
   font-family:'FontAwesome';
   color:gray !important;
   padding:40px !important;
   font-size:16px !important;
   width:100%;
   border: none !important;
   text-decoration:none !important;
   outline:0px !important;
}

.fa-user{
	font-size:20px;
}

.best_in_place_message{
   font-family:'FontAwesome';
   padding:10px !important;
   font-size:16px !important;
   width:80%;
   height:100px;
   border: none !important;
   outline:0px !important;
}

.update-button{
	color:white;
	padding:20px;
	font-size:24px;
	border: none !important;
	text-decoration:none !important;
	outline:0px !important;
	background-color:#009ECB;
	font-family:'FontAwesome';
}

.update-button:hover{
	color:white;
	padding:20px;
	font-size:24px;
	border: none !important;
	text-decoration:none !important;
	outline:0px !important;
	background-color:#FF00F9;
	font-family:'FontAwesome';
}

.input_field{
	border-radius:0px !important;
	font-family:'FontAwesome';
	color:gray !important;
	font-size:16px !important;
	width:100%;
	border-left: none !important;
	border-right:none !important;
	border-top:none !important;
	text-decoration:none !important;
	outline:none !important;
	-webkit-appearance: none !important;
	box-shadow: none !important;
}

.top-bar{
	background-color:#404040;
	height:60px;
}
.to-email{
	margin-top:20px;
	margin-left:20px;
	color:gray;
}

.subject-email{
	margin-left:20px;
	color:gray;
}

.message-email{
	margin-top:20px;
	margin-left:20px;
	color:black;
}

.fa-paper-plane-o{
	margin-right:40px;
	padding:10px;
	float:right;
	font-size:36px;
}

.fa-paper-plane-o:hover{
	font-size:36px;
}

.fa-arrow-left{
	margin-right:40px;
	padding:10px;
	font-size:36px;
}

.sign-up{
	width:50%;
}

.sign-in{
	width:50%;
}

.edit-profile{
	width:50%;
}

.best-in-place-wrapper{
	padding-top:20px;
	padding-bottom:20px;
	    -webkit-animation:yellow-fade 3s;
	       -moz-animation:yellow-fade 3s;
	            animation:yellow-fade 3s;
	}

	@-webkit-keyframes yellow-fade{
	    5%{ background-color:#ff8; }
	}

	@-moz-keyframes yellow-fade{
	    5%{ background-color:#ff8; }
	}

	@keyframes yellow-fade{
	    5%{ background-color:#ff8; }
}

@media screen and (max-width: 600px) {
  .hide-for-mobile {
	display: none;
    visibility: hidden;
  }
}


@media screen and (max-width: 600px) {
  .resize-for-mobile {
	width:50%;
	height:50%;
	padding-left:70px;
  }
}

.choose-message{
	font-size:20px;
}

.choose-message-2{
	margin-top:10px;
	font-size:13px;
}

.mobile-heading{
	padding:20px;
	color:white;
	font-size:18px;
}

.mobile-paragraph{
	padding:20px;
	font-size:18px;
}

@media screen and (min-width: 601px) {
  .hide-for-desktop {
	display: none;
    visibility: hidden;
  }
}

.background-front{
	background-image: url(meeting.jpg);
	background-repeat:no-repeat;
	background-size: cover;
}