// Place all the styles related to the Intros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.person1{
	font-family:'FontAwesome';
	margin-top:20px;
	padding:20px;
	float:left;
}

.person1-title{
	font-family:'FontAwesome';
	font-size:28px;
	padding-left:40px;
	margin-top:12px;
}

.person2{
	font-family:'FontAwesome';
	margin-top:20px;
	padding:20px;
	float:left;
	
}

.person2-title{
	font-family:'FontAwesome';
	font-size:28px;
	padding-left:40px;
	margin-top:12px;
}

.selectpicker{
   font-family:'FontAwesome';
   color:gray !important;
   padding:40px !important;
   font-size:16px !important;
   width:100%;
   border: none !important;
   text-decoration:none !important;
   outline:0px !important;
}

.fa-user{
	float:left;
	font-size:36px;
}

.best_in_place_message{
   font-family:'FontAwesome';
   padding:10px !important;
   font-size:16px !important;
   width:80%;
   height:100px;
   border: none !important;
   outline:0px !important;
}

.update-button{
	color:white;
	padding:20px;
	font-size:24px;
	border: none !important;
	text-decoration:none !important;
	outline:0px !important;
	background-color:#009ECB;
	font-family:'FontAwesome';
}

.update-button:hover{
	color:white;
	padding:20px;
	font-size:24px;
	border: none !important;
	text-decoration:none !important;
	outline:0px !important;
	background-color:#FF00F9;
	font-family:'FontAwesome';
}

.input_field{
	border-radius:0px !important;
	font-family:'FontAwesome';
	color:gray !important;
	font-size:16px !important;
	width:100%;
	border-left: none !important;
	border-right:none !important;
	border-top:none !important;
	text-decoration:none !important;
	outline:none !important;
	-webkit-appearance: none !important;
	box-shadow: none !important;
}

.top-bar{
	background-color:#404040;
	height:40px;
}
.to-email{
	margin-top:20px;
	margin-left:20px;
	color:gray;
}

.subject-email{
	margin-left:20px;
	color:gray;
}

.message-email{
	margin-top:20px;
	margin-left:20px;
	color:black;
}