<% if user_signed_in? %>
<center><h2>Yo' Intro History<h3></center><br><br>
<center>
<table>
  <tbody>
    <% current_user.intros.each do |intro| %>
      <tr>
	<td><div class="person1-title"><%= intro.person1_name %></div></td>
	<td><div class="person1-title">was introduced to</div></td>
	<td><div class="person1-title"><%= intro.person2_name %></div></td>
	<td><div class="person1-title">on</div></td>
	<td><div class="person1-title"><%= intro.created_at.strftime("%m/%d/%Y %I:%M %p")%></div></td>
      </tr>
    <% end %>
  </tbody>
</table>
</center>

<br>
<% end %>
<% else %>
<center><h2>You are not signed in!<h3></center>