<center><%= image_tag "yointro-logo.png" %></center><br><br>

<% if user_signed_in? %>

<div class="row-fluid">
	<div class="span4 offset4">
    <% current_user.intros.order("created_at desc").each do |intro| %>
<div class="intro-history">
<b><%= intro.created_at.strftime("%m/%d/%Y")%></b> <%= intro.person1_name.titleize %> to <%= intro.person2_name.titleize %>
</div><br>

    <% end %>
<br>
</div>
</div>


<% else %>
<center><h2>You are not signed in!<h3></center>
<% end %>